* {
    padding: 0;
    margin: 0;
    outline: 0;
}

.dis-tab-sec {
    // background-color: tomato;

    .dis-tab-nav-wrapper {
        padding-top: 55px;
        padding-bottom: 25px;
        display: flex;
        justify-content: flex-start;

        .dis-tab-nav {
            background: #ddfaa6;
            border-radius: 28px;
            padding: 5px;

            ul {
                border: none;

                li {

                    a {
                        padding: 5px 13px;
                        margin: 7px;
                        border: none;
                        border-radius: 28px;
                        box-shadow: 2px 4px 12px rgba(32, 145, 123, .24);
                        background-color: #7BA631;
                        color: #FFFFFF;
                        font-family: 'Inter', sans-serif;
                        font-weight: 500;
                        font-size: 18px;
                    }
                }
            }
        }
    }

    .dis-tab-content-wrapper {
        .panel-group {
            .panel-heading {
                h4 {
                    a[aria-expanded="true"] {
                        .glyphicon {
                            transform: rotate(90deg);
                        }
                    }

                    a {
                        display: flex;
                        align-items: center;

                        .dis-panel-title-icon {
                            width: 5%;
                            margin-right: 5px;
                        }

                        .dis-panel-title-text {
                            width: 95%;

                            h3 {
                                text-align: center;
                                width: 90%;
                                color: #323232;
                                font-family: Roboto;
                                font-size: 24px;
                                font-weight: 700;
                                margin: 0;
                            }
                        }
                    }
                }
            }

            .dis-tab-content-panel-body {

                ul {
                    margin: 0;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    li {
                        list-style-type: none;

                        p {
                            color: #252430;
                            font-family: Inter;
                            font-size: 18px;
                            font-weight: 500;
                            margin: 0;
                        }

                        span {
                            color: #252430;
                            font-family: Inter;
                            font-size: 14px;
                            font-weight: 500;
                        }
                    }
                }
            }

            .dis-tab-content-btn {
                text-align: center;
                padding: 25px 0;

                a {
                    color: #E6E9F5;
                    font-family: Inter;
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 20px;
                    padding: 15px 25%;
                    margin: 0;
                    background: #7BA631;
                    border-radius: 4px;
                    -webkit-border-radius: 4px;
                    -moz-border-radius: 4px;
                    -ms-border-radius: 4px;
                    -o-border-radius: 4px;
                }
            }
        }
    }
}